.Char-Container {
  padding: 1em;
  display:flex;
  align-items: center;
  padding: 10px;
  border-radius:  30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 1em;
  background-color: var(--laurel-green-2);
}