.Display {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: min-content;
  background-color: var(--black-coffee); 
  color: var(--magnolia);
  padding: 10px;
  border-radius:  30px;
  box-shadow: var(--black-coffee) 3px 4px 20px;
  margin-top: 1em;
  font-size:2em;
  width: fit-content;
}