@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

:root {
  --font1: 'Gamja Flower', cursive;
  --bone: #CFD5C3;
  --lilac: #BBa0B3;
  --magnolia: #EEE7EC;
  --laurel-green: #bec5adff;
  --laurel-green-2: #a4b494ff;
  --russian-green: #519872ff;
  --dark-slate-gray: #3b5249ff;
  --black-coffee: #34252fff;
  --jet: #333333ff;
  --eminence: #643173ff;
}

body {
  background-color: var(--dark-slate-gray);
  font-family: var(--font1);
}

main{
  padding: 5px;
}

button {
  border-radius: 1em;
  font-family: var(--font1);
  padding: 3px;
  font-weight: bolder;
  background-color: var(--lilac); 
  border: .5px solid var(--dark-slate-gray);
  color: var(--magnolia);
}

input {
  font-family: var(--font1);
  background-color: var(--bone); 
  border: .5px solid var(--dark-slate-gray);
  color: var(--dark-slate-gray);
  height: 2em;
  border-radius: 1em;
}

select {
  font-family: var(--font1);
  border-radius: 1em;
  font-weight: bolder;
  width: max-content;
  /* appearance: none; */
  padding: 3px;
  background-color: var(--lilac); 
  border: .5px solid var(--dark-slate-gray);
  color: var(--magnolia);
}

h3{
  font-size: 1.5em;
  text-shadow: var(--eminence) 3px 4px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--bone);
  font: italic bold 100px;
  text-shadow: -4px 3px 0 var(--dark-slate-gray), -7px 6px 0 var(--jet);
}

.Presentational-Container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: flex-start;
}

